/* 
.spacer{
    margin-left: 25%;
    margin-top: 20px;
    border: 0;
}*/
.space{
    margin-left: 25%;
    
} 

/*
#name{
    background-color: #4151B3;
}
#place{
    background-color: #4151B3;
} */